# Temp
gatsby-gen/
next/
.cache/
public

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# General
build/
dist/
.next/
.out/
out/
out
.cache/
.env

# Misc
.idea/
.env
.npm
coverage
.cache/

# Code editors
*.swp
*.swo
.idea/
*.ipr
*.iml
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Node specific
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WordPress specific (for public projects)
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

